header{
    font-size: 45px;
    margin: 20px 10px;
    text-align: center;

}
#foot{
    padding-top:25px ;
    padding-bottom: 20px;
}
/* ........................................nav........................................ */
#navbar {
    background-color: rgba(27,27,27,1);
    color: rgba(201,201,201,1);
    display: grid;
    top: 0px;
    left: 0px;
    min-width: 290px;
        padding-right: 10px;
    /* scroll */
     border-right: solid;
    border-color: rgba(201,201,201,1);

}
.sidebar {
    overflow-y: scroll;

}
.nav-link{
    padding: 25px 10px;
    scroll-behavior: auto;
    color: rgb(39, 39, 39);
    background-color: rgba(201,201,201,1);
    position: inherit;

}
.grid {
     display: grid;
    grid-template-columns: 1fr 3fr;
}


/* .................................common.............................. */
h1{
    font-size: 2em;
    align-items: center;
    @media (max-width: 568px) {
        font-size: 45px;
        align-items: center;
        text-align: center;
      }
}
html,body {
font-size: 12px;
font-family: 'Open Sans', Arial, sans-serif ;
background-color: rgba(27,27,27,1);
color: rgba(201,201,201,1);
align-items: center;
padding: 0px 25px 0px 25px ;
}
main{
padding: 0px 25px;    
}
/* ..................................code................................... */
.box1 { 
display: block;
background-color: rgb(147 147 147);
color: rgb(0, 0, 0);
/* max-width: 500px; */
/* height: 500px; */
min-height: fit-content;
margin: 20px;
padding: 15px;
border-radius: 20px;
}
code{
        background: var(--code-background-inline);
    padding: 0.125rem 0.25rem;
}
/* .................................grid.................................. */
.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
}
.flex-item {
     flex-direction: column;
     /* padding: 25px; */
     justify-content: space-between;
}
a {
    color:rgbrgb(241, 243, 244);
}
/* dark theme */
.btn {
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
/* ...........................media screen................................ */
@media screen and (max-width: 769px)
 {
   .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
     flex-direction: column;
     padding: 0;
     justify-content: space-between;
} 
.navbar{
    height: 10%;
}
 }


